.ms_bg_header_footer {
    background-color: #222e3e;
}

.ms_bg_green {
    background-color: #21B18A;
}

.ms_bg_footer_light {
    background-color: #2d425a;
    min-height: 100px;
}


.ms_linea_bianca {
    height: 5px;
    width: 200px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
}