.ms_bg_header_footer {
    background-color: #222e3e;
}

.ms_bg_green {
    background-color: #21B18A;
}

.ms_bg_footer_light {
    background-color: #2d425a;
    min-height: 100px;
}

.ms_col_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.ms_white_space {
    width: 100%;
    background-color: white;
    min-height: 20px;
}


.ms_linea_bianca {
    height: 5px;
    width: 20%;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
}

.ms_linea_nera {
    height: 5px;
    width: 20%;
    background-color: #222e3e;
    border-radius: 3px;
    display: inline-block;
}

.ms_wrapper_80 {
    width: 80%;
    margin: auto;

}

.ms_white_border {
    border: white;
}

